<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form
    #updateProfileForm="ngForm"
    (ngSubmit)="onSubmit()"
    enctype="multipart/form-data"
  >
    <ion-grid>
      <ion-row class="ion-justify-content-center marge">
        <div class="form-group">
          <ion-avatar class="avtar">
            <label for="image">
              <img src="{{ imageUrl }}{{ user?.imageprofil }}" />
            </label>
            <input
              id="image"
              style="visibility: hidden"
              (change)="onProfilePictureSelected($event)"
              #fileToUpload
              type="file"
              name="imageprofil"
              placeholder="photo"
              accept="image/*"
              [(ngModel)]="imageprofil"
              (click)="fileToUpload.click()"
            />
          </ion-avatar>
        </div>
      </ion-row>
    </ion-grid>
    <div class="container">
      <div class="user-details">
        <div class="form-group">
          <label for="nom">Nom: </label>
          <input
            type="text"
            ngModel="{{ user?.nom }}"
            class="form-control"
            id="nom"
            name="nom"
            aria-describedby="nom"
            placeholder="Entrez votre nom"
            [(ngModel)]="nom"
            required
          />
        </div>
        <div class="form-group">
          <label for="prenom">Prenom: </label>
          <input
            type="text"
            id="prenom"
            name="prenom"
            ngModel="{{ user?.prenom }}"
            [(ngModel)]="prenom"
            aria-describedby="prenom"
            placeholder="Entrez votre prenom"
            required
          />
        </div>
        <div class="form-group">
          <label for="email">E-mail: </label>
          <input
            type="email"
            id="email"
            name="email"
            ngModel="{{ user?.email }}"
            [(ngModel)]="email"
            placeholder="Entrez votre Email"
            disable
          />
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input
            ngModel="{{ user?.username }}"
            type="text"
            [(ngModel)]="username"
            name="username"
            id="username"
            placeholder="Username"
          />
        </div>
        <div class="button">
          <input
            type="submit"
            value="Enregistrer"
            [disabled]="updateProfileForm.invalid"
          />
        </div>
      </div>
    </div>
  </form>
</ion-content>
