.o {
  color: #ff6600;
  text-align: center;
  margin-left: 10%;
}
.top {
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top:-10% ;
}
.bas{
    margin-top: 10%;
}
.u{
    text-align: center;
    font-size: 22px;
}
.card{
        margin-top: -2px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: normal;
}

