<ion-content>
  <ion-header style="margin-top: 20vh">
    <!-- <button (click)="back()">
    <ion-icon name="arrow-back"></ion-icon>
  </button> -->

    <ion-toolbar>
      <h4>Création de l'évenement</h4>
      <ion-buttons slot="start">
        <ion-back-button text="" icon="arrow-back"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <form
    #form="ngForm"
    (ngSubmit)="ajouterEvenement()"
    style="margin-bottom: 5vh"
  >
    <ion-item>
      <ion-label position="floating">Nom de l'événement</ion-label>
      <ion-input type="text" name="nom" [(ngModel)]="nom" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Type</ion-label>
      <ion-select name="type" [(ngModel)]="type" required>
        <ion-select-option value="conférence">Conférence</ion-select-option>
        <ion-select-option value="festival">Festival</ion-select-option>
        <ion-select-option value="exposition">Exposition</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Statut</ion-label>
      <ion-select name="id_status" [(ngModel)]="id_status" required>
        <ion-select-option value="{{s.idStatus}}" *ngFor="let s of status">
          {{s.status}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Heure de début</ion-label>

      <ion-input
        type="time"
        [(ngModel)]="heureDebut"
        name="heureDebut"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Heure de Fin</ion-label>

      <ion-input type="time" [(ngModel)]="heureFin" name="heureFin"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="">Date debut:</ion-label>

      <ion-input
        type="date"
        [(ngModel)]="datedebut"
        name="datedebut"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="">Date fin: </ion-label>

      <ion-input type="date" [(ngModel)]="datefin" name="datefin"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea name="description" [(ngModel)]="description"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Lieu</ion-label>
      <ion-select [(ngModel)]="location" (ionChange)="onLocationChange($event)">
        <ion-select-option value="inside">Au siège</ion-select-option>
        <ion-select-option
          value="outside"
          (ionSelect)="onLocationChange('outside')"
          >A l'extérieur</ion-select-option
        >
      </ion-select>
    </ion-item>

    <ion-item *ngIf="location1 === 'inside'">
      <ion-label position="floating">Salle</ion-label>
      <ion-select (ionChange)="onRoomChange($event)">
        <ion-select-option
          *ngFor="let salle of mesSalles"
          value="{{salle.libelle}}"
          >{{salle.libelle}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="location1 === 'outside'">
      <ion-label position="floating">Adresse</ion-label>
      <ion-input type="text" name="location" [(ngModel)]="location"></ion-input>
    </ion-item>

    <ion-item *ngIf="location === 'outside'">
      <ion-label position="floating">Géolocalisation</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label for="image" position="">Image: </ion-label>
      <ion-input
        type="file"
        id="files"
        (change)="televerser($event)"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-button type="submit" [disabled]="form.invalid" expand="block">
        Ajouter l'événement</ion-button
      >
    </ion-item>
  </form>
</ion-content>
