<!-- <ion-header>
  <ion-toolbar>
    <ion-title>events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
<ion-header>
  <ion-toolbar>
    <div class="image">
      <img src="../assets/IMAGE/ok.png" alt="" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>Créer un événement</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-item>
      <ion-label position="floating">Nom de l'événement</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Organisateurs</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Type</ion-label>
      <ion-select>
        <ion-select-option value="conférence">Conférence</ion-select-option>
        <ion-select-option value="festival">Festival</ion-select-option>
        <ion-select-option value="exposition">Exposition</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Date de début</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Date de fin</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Heure de début</ion-label>
      <ion-input type="time"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Heure de fin</ion-label>
      <ion-input type="time"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Lieu</ion-label>
    </ion-item>
    <ion-item>
      <ion-radio-group [(ngModel)]="location">
        <ion-item>
          <ion-label>Au siège</ion-label>
          <ion-radio value="inside"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>A l'extérieur</ion-label>
          <ion-radio value="outside"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-item>

    <!-- <ion-item>
  <ion-label>Lieu</ion-label>
</ion-item>

<ion-item>
  <ion-label>Au siège</ion-label>
  <ion-radio value="inside" (ionSelect)="onLocationChange('inside')"></ion-radio>
</ion-item>

<ion-item>
  <ion-label>A l'extérieur</ion-label>
  <ion-radio value="outside" (ionSelect)="onLocationChange('outside')"></ion-radio>
</ion-item> -->

    <ion-item *ngIf="location === 'inside'">
      <ion-label position="floating">Salle</ion-label>
      <ion-select (ionChange)="onRoomChange($event)">
        <ion-select-option *ngFor="let room of rooms" [value]="room"
          >{{room}}</ion-select-option
        >
      </ion-select>
    </ion-item>

    <ion-item *ngIf="location === 'outside'">
      <ion-label position="floating">Géolocalisation</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea rows="4"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Image</ion-label>
      <ion-input type="file"></ion-input>
    </ion-item>
    <ion-button (click)="openModal()"> Continuer </ion-button>
  </form></ion-content
>
