ion-badge {
  position: absolute;
  font-size: 8px;
  right: -3px;
  top: 15px;
}

ion-button {
  // margin: 5px;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: visible !important;
  color: #6a9a8b;
}

.notiff ion-button {
  align-items: flex-end;
  float: right;
}

.not {
  margin-top: 20px;
}

ion-buttons.notiff.sc-ion-buttons-md-h.sc-ion-buttons-md-s.md.hydrated {
  float: right;
  margin-left: 80%;
}
