<ion-header>
  <ion-toolbar>
    <div class="" style="display: flex">
      <ion-buttons>
        <ion-button id="popoverI-button" style="margin-top: 1%">
          <ion-icon name="ellipsis-horizontal"></ion-icon>
        </ion-button>
      </ion-buttons>
      <style>
        img {
          width: 100%;
          margin-left: -2%;
          height: 50%;
        }
      </style>
      <div class="">
        <img src="../../assets/IMAGE/ok.png" alt="" />
      </div>
      <!-- <ion-button id="popover-button">
        <i class="bi bi-three-dots"></i>
      </ion-button> -->

      <ion-buttons slot="primary" class="">
        <ion-button (click)="opennotif()" fill="clear">
          <ion-icon class="not" name="notifications-outline"></ion-icon>
          <ion-badge>{{lesNotifis}}</ion-badge>
        </ion-button>
      </ion-buttons>
    </div>

    <!-- popup -->
    <ion-popover trigger="popoverI-button" [dismissOnSelect]="true">
      <ng-template>
        <ion-content>
          <ion-list>
            <a>
              <ion-item [button]="true" [detail]="false" routerLink="/profil"
                >Mon profil
              </ion-item>
              <ion-item [button]="true" [detail]="false" routerLink="/motpasse"
                >Changer mots de passe</ion-item
              >
              <ion-item (click)="logout()" routerLink="/home"
                >Se deconnecter
              </ion-item></a
            >
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<!-- p -->

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="accueil">
      <ion-icon name="home" aria-hidden="true"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="evenement">
      <ion-icon name="calendar" aria-hidden="true"></ion-icon>

      <ion-label>Evenément</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="salle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="300%"
        height="23"
        fill="currentColor"
        class="bi bi-bank"
        viewBox="0 0 16 16"
      >
        <path
          d="m8 0 6.61 3h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.38l.5 2a.498.498 0 0 1-.485.62H.5a.498.498 0 0 1-.485-.62l.5-2A.501.501 0 0 1 1 13V6H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 3h.89L8 0ZM3.777 3h8.447L8 1 3.777 3ZM2 6v7h1V6H2Zm2 0v7h2.5V6H4Zm3.5 0v7h1V6h-1Zm2 0v7H12V6H9.5ZM13 6v7h1V6h-1Zm2-1V4H1v1h14Zm-.39 9H1.39l-.25 1h13.72l-.25-1Z"
        />
      </svg>
      <ion-label>Salles</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="budget">
      <ion-icon name="map" aria-hidden="true"></ion-icon>
      <ion-label>Budget</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tache">
      <ion-icon name="list-circle-outline"></ion-icon>
      <ion-label>Tache</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
<!--créer un formulaire de contact en ionic -->
