<!-- <ion-header>
  <ion-toolbar>
    <ion-title>salle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->

<ion-header>
  <ion-toolbar>
    <div class="image">
      <img src="../assets/IMAGE/ok.png" alt="" />
    </div>
  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-toolbar>
    <ion-title> Liste des salles </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="opennotif()" fill="clear">
    Ajouter une salle
  </ion-button>
  <ion-list>
    <ion-item *ngFor="let salle of mesSalles">
      <ion-thumbnail slot="start">
        <img src="{{salle.image}}" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{salle.nom}}</h2>
        <p>{{salle.description}}</p>
        <p>Nombre de place: {{salle.nombreplace}}</p>
        <p>Etage: {{salle.etage}}</p>
        <p>Numero: {{salle.numero}}</p>
        <p *ngIf="salle.disponibilite===true">Disponibilité: Oui</p>
        <p *ngIf="salle.disponibilite===false">Disponibilité: Non</p>
        <ion-icon name="trash-outline" (click)="supprimer(salle.id)"></ion-icon>
      </ion-label>
    </ion-item> </ion-list
></ion-content>
