.butonevents {
  --COLOR: #ff6600;

 
}


.o {
  color: #ff6600;
  text-align: center;
}
.u {
  font-size: 17px;
  font-weight: bold;
  color: #000000;
}
.icongroup {
  width: 100px;
  display: flex;
  justify-content: space-between;
  color: #ff6600;
}
.top {
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top:-10% ;
}
