<!-- <p>
  modal works!
</p> -->
<ion-header>
  <ion-toolbar>
    <ion-title>Paramètres de l'organisation</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-text-center">
    <ion-icon name="people"></ion-icon>
  </div>
  <ion-card class="ion-margin-top">
    <ion-card-header>
      <ion-card-subtitle
        >Vous pouvez créer des tâches personnalisées et les assigner à d'autres
        membres de l'équipe, améliorer la collaboration au sein de
        l'entreprise.</ion-card-subtitle
      >
    </ion-card-header>
    Copy code
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Adresse email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nom de la tâche</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Date d'échéance</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea rows="4"></ion-textarea>
      </ion-item>

      <ion-button expand="block" class="ion-margin-top">Envoyer</ion-button>
    </ion-card-content>
  </ion-card></ion-content
>
