.postdetail{
    margin: 2px 0;
    padding: 0 20px;
}
ion-content{
    --background: #F2F7FA; 
   // overflow-y: calc(100% - 32px);
}
ion-title{
    color: #FF7900;
}

ion-card{
    overflow: hidden;
}

ion-card-header {
    padding: 5px 16px;
  }
ion-card-title{
    font-size: 18px;
}

.nview{
    --background: #845EC2;
    width: 90px;
    height: 25px;
    padding: 0px;

}
.view{
    --color: #000;
    // --border-radius: 15px;
    --border-color: #CACACA;
    width: 50px;
    height: 25px;
    // padding: 0px 5px;
}
.interview ,.evaluation{
    --border-radius: 15px;
    --font-size: 12px;
    --font-weight: 400;
}
ion-avatar{
    max-width: 3rem;
    height: 3rem;
}
ion-grid{
    --ion-grid-padding:2px;
    --ion-grid-column-padding:1px;
    //overflow-y:width calc(100% - 22px);

}
.absolute{
    position: sticky;
    bottom: 10px;
    margin: auto;
    left: 25%;
    --background: #FFF;
    --color: #CACACA;
     --border-radius: 30px;
    --border-color: #cacaca;
    --border-style: solid;
    --border-width: 1px;
    --padding-start: 30px;
    --padding-end: 30px;
}