<ion-header>
  <ion-toolbar>
    <div class="image">
      <img src="../assets/IMAGE/ok.png" alt="" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar class="search">

    <ion-button class="butonevents" routerLink="./events">
      Créer un évenements</ion-button
    >
  </ion-toolbar>

  <ion-segment [(ngModel)]="selectedSegment">
    <ion-segment-button value="upcoming" (click)="GetEventByState('avenir')">
      Evénements à venir
    </ion-segment-button>
    <ion-segment-button (click)="GetEventByState('termine')" value="past">
      Evénements passés
    </ion-segment-button>
    <ion-segment-button value="current" (click)="GetEventByState('encour')">
      Evénements en cours
    </ion-segment-button>
  </ion-segment>

  <!--
  segment ionique(events encous,passes,terminer)




  

-->

  <ion-content [ngSwitch]="selectedSegment">
    <!-- <ion-segment [(ngModel)]="selectedSegment">
    <ion-segment-button value="upcoming">
      Evénements à venir dfhtrdt
    </ion-segment-button>
    <ion-segment-button value="current"> Evénements en cours </ion-segment-button>
    <ion-segment-button value="past"> Evénements passés rsydtfyyyyyyyyyyyyyyyyyyyyyy</ion-segment-button>
  </ion-segment> -->
    <div class=" " [ngSwitch]="selectedSegment">
    
      <div *ngSwitchCase="'upcoming'">
        <ion-card *ngFor="let event of upcomingEvents, let i=index">
          <!-- <ion-thumbnail slot="start">
            <img src="{{event.image}}" />
          </ion-thumbnail> -->
          <img class="top"src="{{event.image}}" />

          <ion-card-header>
            <ion-card-title class="bold">{{event.nomEvenement}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h3 ><span class="u">description de l'événement :</span> {{event.description}}</h3>

            <h4 ><span class="o">  Date début :</span> {{event.datedebut | date : 'dd/MM/yyyy'}}</h4>
            <H4><span class="o">Date fin:</span> {{event.datefin | date : 'dd/MM/yyyy'}}</H4>
          </ion-card-content>
        </ion-card>
        <h1 style="height: 25vh"></h1>
      </div>
      <div *ngSwitchCase="'past'">
        <ion-card *ngFor="let event of pastEvents">
    
          <img class="top" src="{{event.image}}" />

          <ion-card-header>
            <ion-card-title class="bold">{{event.nomEvenement}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            
            <h4 ><span class="o">  Date début :</span> {{event.datedebut | date : 'dd/MM/yyyy'}}</h4>
            <H4><span class="o">Date fin:</span> {{event.datefin | date : 'dd/MM/yyyy'}}</H4> 
          </ion-card-content>
        </ion-card>
        <h1 style="height: 25vh"></h1>
      </div>

      <div *ngSwitchCase="'current'">
        <ion-card *ngFor="let event of currentEvents">
          <img class="top" src="{{event.image}}" />

          <ion-card-header>
            <ion-card-title class="bold">{{event.nomEvenement}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p><span class="u">description de l'événement :</span> {{event.description}}</p>
                        <h3> <span class="o">Organisateur </span>:{{event.user.username}}</h3>


            <h4 ><span class="o">  Date début :</span> {{event.datedebut | date : 'dd/MM/yyyy'}}</h4>
            <H4><span class="o">Date fin:</span> {{event.datefin | date : 'dd/MM/yyyy'}}</H4>          
          </ion-card-content>
        </ion-card>
        <h1 style="height: 25vh"></h1>

      </div>
    </div>
  </ion-content>

  
</ion-content>
