.search {
  margin-top: 10px;
}
.butonevents {
  --background: #ff6600;
}
// ion-segment-button {
//   color: aliceblue;
//
// ion-segment-button:active {
//   color: aliceblue;
// }
// ion-segment-button:hover {
//   color: red;
// }

ion-segment-button {
  --color: white;
  font-size: 10%;
}
//  ion-segment-button:active{
//   --color: rgb(216, 20, 170);
// }
image {
  height: 90%;
  width: 60%;
  --text-align: center;
  --align-items: center;
  margin-left: 20%;

  margin-top: 30px;
  --background-color: rgb(246, 248, 250);
}
.image{
  background-color: rgb(246, 248, 250);
}