:root {
  --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}

body {
  background: #fff !important;
}

.card {
  background: #fff;
  color: black;
  margin-bottom: 2rem;
}

.btn {
  border: 5px solid;
  border-image-slice: 1;
  background: var(--gradient) !important;
  -webkit-text-fill-color: transparent !important;
  border-image-source:  var(--gradient) !important; 
  text-decoration: none;
  transition: all .4s ease;
  border: #ff6600;
}

.btn:hover, .btn:focus {
      background: var(--gradient) !important;
  -webkit-text-fill-color: #fff !important;
  border: 5px solid #ff6600 !important; 
  box-shadow: #222 1px 0 10px;
  text-decoration: underline;
}
.ion-button{
    text-align: center;
}