<ion-header>
  <ion-toolbar>
    <div class="image">
      <img src="../assets/IMAGE/ok.png" alt="" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container mx-auto mt-4">
    <ion-card class="row" *ngFor="let tout of all">
      <div class="col-md-4">
        <div class="card">
          <img src="{{tout.image}}" class="top" alt="..." />
          <div class="card-body">
            <h5 class="ion-text-center" class="bold">{{tout.nomEvenement}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              {{tout.date | date : 'dd/MM/yyyy'}}
            </h6>
            <p class="card-text">{{tout.description}}</p>
            <h3> <span class="o">Organisateur </span>:{{tout.user.username}}</h3>
            <div class="ion-text-center">
              <ion-button [routerLink]="['/evenement-detail',tout.idEvenement]">
                Voir-plus</ion-button
              >
            </div>
          </div>
        </div>
      </div>
    </ion-card>

    <!-- Vue détaillée de l'événement -->

  </div>
</ion-content>
