<!-- <ion-header>
  <ion-toolbar>
    <ion-title> Tableau </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let event of events">
      <ion-grid>
        <ion-row>
          <ion-col size="5" size-md="3">Nom</ion-col>
          <ion-col size="7" size-md="9">{{event.name}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5" size-md="3">Description</ion-col>
          <ion-col size="7" size-md="9">{{event.description}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" size-md="4">Organisateur</ion-col>
          <ion-col size="6" size-md="8">{{event.organizer}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5" size-md="3">Statut</ion-col>
          <ion-col size="7" size-md="9">{{event.status}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5" size-md="3">Date</ion-col>
          <ion-col size="7" size-md="9">{{event.date}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content> -->

<ion-header>
  <ion-toolbar>
    <div class="image">
      <img src="../assets/IMAGE/ok.png" alt="" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container mx-auto mt-4">
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem">
          <img
            src="https://i.imgur.com/ZTkt4I5.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="ion-text-center">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>

            <div class="ion-text-center">
              <ion-button> Voir-plus</ion-button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem">
          <img
            src="https://i.imgur.com/ZTkt4I5.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="ion-text-center">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <div class="ion-text-center">
              <ion-button> Voir-plus</ion-button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem">
          <img
            src="https://i.imgur.com/ZTkt4I5.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="ion-text-center">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <div class="ion-text-center">
              <ion-button> Voir-plus</ion-button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 18rem">
          <img
            src="https://i.imgur.com/ZTkt4I5.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="ion-text-center">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <div class="ion-text-center">
              <ion-button> Voir-plus</ion-button>
            </div>
          </div>
        </div>
      </div>

     

  

  
    </div>
  </div>
</ion-content>
